<p style="color: green"><%= notice %></p>

<h1>Agendamentos</h1>

<div id="agendamentos">
  <% @agendamentos.each do |agendamento| %>

    
    <% if agendamento.user_id == current_user.id %>
      <%= render agendamento %>
    <% end %> 

  <% end %>
</div>

<%= link_to "New agendamento", new_agendamento_path %>
