<p style="color: green"><%= notice %></p>

<div  id="agendamentos">
  <p class="h3">Agendamentos</p>

  <div class="cont-cards">
    <% @agendamentos.each do |agendamento| %>

      
      <% if agendamento.user_id == current_user.id %>
        <%= render agendamento %>
      <% end %> 

    <% end %>
  </div>
</div>

