.container-ag{
    margin-top: 40px;
    max-width: 800px;
    min-width: 500px;
    padding: 30px 50px; 
    border: 2px solid #2E84D9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
    /* padding: 40px 70px; */

}

.dates{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dates div{
    text-align: center;
}

.form-date-container {
    background-color: white;
    width: 200px;
    color: #9D9D9D;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    border-radius: 5px ;
    border: 1px solid #C4CAD0;

}

.form-date {
    outline: none;
    padding: 10px 30px;
    border: 1px solid rgb(216, 216, 216);
    cursor: text;
    color: #2E84D9;
    border-radius: 5px;


}

.form-label-date {
    margin-left: 10px;
}

.btn-pass{
    border: 1px solid #2E84D9;
    color: #2E84D9;
}

.btn-pass:hover{
    background-color: #2E84D9;
    color: white;
}

.camp{
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    margin: 0 10px;
    border-radius: 5px;
}

.nome{
    min-width: 500px;
}

.camp-inp{
    border: none;
    outline: none;
    width: 95%;
    
}

.camp-inp:focus {
    border-bottom: 1px solid #2E84D9;
    transition: .1s;
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-agen{
    padding: 10px 30%;
}

.cont-cards {
    min-width: 500px;
    max-width: 500px;
    padding: 30px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    border: 1px solid #C4CAD0; 
    margin: 15px;
}   

.info{
    display: flex;
    flex-direction: row;
}

.cont-cards strong {
    color: #2E84D9;
}

.cont-cards:hover{
    border: 1px solid #2E84D9;
    transition: .1s;
}

.str {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.line-1, .line-2{
    display: flex;
    flex-direction: column;
    justify-content: left;

}   


.line-1 {
    margin-right: 10px;
}


.line-2 {
    margin-left: 10px;
}

.cards {
    min-width: 1000px;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}


.agend {
    border: 1px solid #C4CAD0; 
    min-width: 1000px;
    max-width: 1120px;
    margin: 10px auto;
}


.card-agd {
    padding: 30px;
    margin: 50px auto;
    border: 1px solid #C4CAD0; 
    width: 500px;
    border-radius: 5px;
}

.card-agd:hover{
    transition: .1s;
    border: 1px solid #2E84D9;

}

.btn-id{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emp {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-bottom: 10px;
}