.btn {
    margin: 0 10px;
}

.logo{
    display: flex;
    align-content: center;
    align-items: center;
}

.navbar p {
    font-weight: bold;
}


.navbar {
    padding: 20px;
}

.nav {
    display: flex;
    align-items: baseline;
    align-content: baseline;
}

.h6 {
    margin-right: 10px;
    color: #0A58CA;
}

.separator {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #0A58CA, #65f5c0 );
}