.container-lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(45deg, #0A58CA, #65f5c0);
    padding: 50px 20px;
    margin-top: 50px;
    border-radius: 15px;
}

.card {
    margin: 0 30px;
}

.card:hover{
    animation: .2s;
    border: 1px solid;
}